<div id="status">
    <div id="indicator" class="{{connectionStatus$|async}}"></div>
    <span id="status-label">{{connectionStatus$|async}}</span>
</div>
<button (click)=unsubscribe()>Unsubscribe</button>

<mat-form-field appearance="outline" color=accent>
    <mat-label>Triage Notes</mat-label>
    <textarea matInput placeholder="Triage Notes" [value]=triageNotes rows="6"
        (input)="onTriageNoteChange($event.target.value)"></textarea>
</mat-form-field>

<div class="stomp">
    <div class="header">
        Message Queue via Stomp
    </div>
    <div class="console">
        <li *ngFor="let msg of stompMessages"> {{msg.ChangedEntity}} {{msg.ActionType}}
        </li>
    </div>
</div>
